<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark degrado scrolling-navbar fixed-top">
        <div class="container">
            <img src="https://gm1.ggpht.com/nnz-ip9T4ejfZpsjJYjn2fVX4AKXs9aLHr2w1HleQ_Xugq4v3Nsec9MyK9nJyzlHyhivyudU9srxOSzQ_9NOMcKZ7P8RafEN3rKru_iPYLfbjhy32Vms6Xs6Yu4mWWyEuY09sXsElRy5YW_npqrlYo_w-ERJnbRYODSuHy5JawlwBIADshC2qSC2JBzn1QWprkXW8FVRydeHK8qB1T53PdYEVldcnHG9tCijZPwwuEgwwnY2QGoOtLKcZHcral8Wys9ltjlClFuLZP-SRpSJ8k7C9m4AD16i0z3C6NbDRAyl3Hhu5bxK8fCyxYKRER_QGtXtAOncv0l-FJAPAgg1U7YP0Z1JKVPM4n8ny_KK9GPxGP8Z8e0L_5_NRp6WXi8KwC5J52oBbiyw6c5bWoj3Yl-cWJlBAwkigHxKz7d-hrN15TVQVRJaHhXRA96XiTl-9IPzu5ehOVMus5NMuKE3UIYmrw2ql1GPiTWCoIpfUyISg-j1hgKf7pSD9Wgfp1P3sZKdWkMIY7BEjn-5UVi0u5mCquveZm7pjREWtjrrHoXrRFchPJooIuPsMwqAj7xqfUulZf_FiSckn0KwdyocynO5O1g--LbeJSx1lZ0it64jM-7K00ST9mRAapxRSzgqgQLBasFG1tinl_2T1rvcq9VDZWjgocaj88wzL9g02IDSFMpHXlRRp_L6oSczhZ6eTSVF2x2DgE-nhKW2QjRb69WjX4zYX_rM3ZPo3ljLjp81Ug6zthY4F7fKPm-8Qvcbelw=s0-l75-ft-l75-ft" style="width: 150px; height: 40px; margin-right: 20px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tabladeeventos">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contactanos">Contactanos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/detallepago">Carrito<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Perfil
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="/editarperfil">Editar Perfil</a>
                            <a class="dropdown-item" href="#">Cerrar Sesion</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <h1 style="margin-top: 100px;">Detalle de Pago</h1>
  <div class="container" id="contenedor">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Evento</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Precio</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let detalle of detalles">
                  <th scope="row">{{detalle.Id}}</th>
                 <th scope="row">{{detalle.Categoria.NombreCategoria}}</th>
                  <th scope="row">{{detalle.Cantidad}}</th>
                  <th scope="row">{{detalle.Categoria.NombreCategoria}}</th>
                 <th scope="row">{{detalle.Categoria.Precio}}</th>
              </tr>
          </tbody>
        </table>
    </div>
    <div class="container" id="contenedorpago">
        <p style="text-align: center; font-size: 20px;">Resumen de Pago</p>
            <mat-divider></mat-divider>
        <div class="container">
          <div class="row">
              <div class="col" style="margin-top: 10px;">Subtotal</div>
              <div class="col" style="margin-top: 10px; text-align: right;">L. 4000</div>
            </div>
            <div class="row">
              <div class="col" style="margin-top: 10px;">ISV</div>
              <div class="col" style="margin-top: 10px; text-align: right;">L. 600</div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col" style="font-weight: bold;">Total</div>
              <div class="col" style="text-align: right; font-weight: bold">L. 4600</div>
            </div>
        </div>
            <div class="example-button-row">
              <button mat-raised-button id="botonpagar">Pagar</button>
            </div>
    </div>
    <div class="container" style="height: 5000px;"></div>
</body>
</html>