<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body background="https://gm1.ggpht.com/MrTMHXnxVW_d1JpTMzjl0FRao6yCxbaIf2sCTfZZvSB1oJbUyWWEyNl4dJR0EsYAoXkNOVUNDh4Tor8d_Up2lKVttaZ-Q1tVyeE03SQLdmEwbwVUYdeS9ZctbIPiA89GbksNR1b5CWxGnlUodJ4oUspl8_rr-wI17QC1wJRZrj_gzzzsYznUZZyfqoppMbOJ8BBeQ1SOrIPt1YiDPCcKAQ4ULXzIG2Oe8wHP7-kijtp2FjlVbSl3VzxGOg_IzUx6Jdvk3oR106YQhIP29Fg8U9mFIbDd22-POYbEIDEwkEd8hcLXK6Q7WMO-Q-yD2vKjXnx3GoncW3WzcmEBbJavQpuAHCMkTQ-xmTtmf81ySfXqRCjS7KVurEfPxntn4jYN-rRk-CH2Apqx5zsC36s3dDukxMMbwuWk4pvXTcfotFa8UWBtv-68w7puF2sRpg2K58AUlAGbFCK0NjJoPhDYUdWup4FFv7QSkiZ1Fmumw_0Wjyd1TJQFzhDvKqjKFZMIWpM9iOnpQwgLd5eROL_WUDIPIL7sR_G8GM5g1JIxmtMLAzagZpucaE6K0x2x4BX1sGqR6Qm07UobsTZ8giJIT4-8ZgjlKBaHjBS0gD4YUpmVMsvMM4JSXFTVKC9xZk1-PXQZhQ6XMMkJP8twYxEHF5u6trhbJorQjNyLJpqKj7G0hnClE1uUOUhYWf71IVlv30UNcMH7wWTeUEhrY5UuskQx2hPo5mv-UPNTW38zA5iEn2WpIQ28yU7l-SUfv8VH83g=s0-l75-ft-l75-ft">
    <nav class="navbar navbar-expand-lg navbar-dark degrado scrolling-navbar fixed-top">
        <div class="container">
            <img style="width: 150px; height: 40px; margin-right: 20px;" src="https://gm1.ggpht.com/5VwtPeiV5UPipuLODJNPApu-eSCVdaOrmjYChRkiPgnJajYXiUTrHVL0c-iqBRP02cGnqPIWqLh0loEJEjPCWtW85ICKU823GD9mCZJ64KC3j3NzA2E7XVqcgF0ysWBHzVbwCOMWKYx3f6xa-0acj0qEmfDDxPfj7e5LZjOYl5jk74gUKPHYW01mHH45i-xiPxihNS493fydIuT1Ibw5-D611BUws4EbQk_2ibmhUWN-EO5PlZHuAVl-l_Dry8SVE38iXvM5bfy1RfGF_Omdm6W1ZFsexBYumw9jnj_I0v7ExsER14Zwneb_coy6OoOG3FNr8ZSQmCmMiA3Q8iMKsfkPfsXYk6_BM89UYs7FYke3jIjwKOfv0ZJT6ONKLVQfb-CnKSxPqY5VYuTAlGTxTcDdgmtS5Ps1nxoaIu4FesobtInT62VfOQmGPCtfoFsXYZX7aNSi0XodUyFq39A6Ej1CcnnvCaWnGzYXaYvo5k7jDSA_v0Fvtgj_HHddPeZU4JBfDrHg016YK0QignWRac8lcoIghxqWUpbfvTjuZRMGalVo3OcJbQflLUO17IH5qT2zrSsV2Y_pU4LOR_tWAcFtI5I91clIqasj7UZh53Ln_KVy5FJE3AQf7_bZZV-dcqmxwWiFkav_HIGgjm8TT2S-o0A4No7mHA97-_yukvLZqh4vS2i0sMrODeW4FHaDcIXt47WAk2aegQW9aORZ_CVbkFPc-nBzPwdqS4RGujP22-QFeu9j9DoMinXv-RwFuyg=s0-l75-ft-l75-ft">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tabladeeventos">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contactanos">Contactanos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/detallepago">Carrito<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Perfil
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="/editarperfil">Editar Perfil</a>
                            <a class="dropdown-item" href="#">Cerrar Sesion</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <h1 style="margin-top: 100px;">Detalle de Pago</h1>
  <div class="container" id="contenedor">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Evento</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Precio</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let detalle of detalles">
                  <th scope="row">{{detalle.Id}}</th>
                  <th scope="row">{{detalle.evento.Nombre}}</th>
                  <th scope="row">{{detalle.cantidad}}</th>
                  <th scope="row">{{detalle.precio.NombreCategoria}}</th>
                  <th scope="row">{{detalle.precio.Precio}}</th>
              </tr>
          </tbody>
        </table>
    </div>
    <div class="container" id="contenedorpago">
        <p style="text-align: center; font-size: 20px;">Resumen de Pago</p>
            <mat-divider></mat-divider>
        <div class="container">
          <div class="row">
              <div class="col" style="margin-top: 10px;">Subtotal</div>
              <div class="col" style="margin-top: 10px; text-align: right;">L. 4000</div>
            </div>
            <div class="row">
              <div class="col" style="margin-top: 10px;">ISV</div>
              <div class="col" style="margin-top: 10px; text-align: right;">L. 600</div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col" style="font-weight: bold;">Total</div>
              <div class="col" style="text-align: right; font-weight: bold">L. 4600</div>
            </div>
        </div>
            <div class="example-button-row">
              <button mat-raised-button id="botonpagar">Pagar</button>
            </div>
    </div>
    <div class="container" style="height: 5000px;"></div>
</body>
</html>